<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="10">

    <test name="authentication">
        <classes>
            <class name="com.ecommerce.testcases.LoginTest"/>
        </classes>
    </test>

    <test name="products">
        <classes>
            <class name="com.ecommerce.testcases.ProductsTest"/>
            <class name="com.ecommerce.testcases.CartTest"/>
            <class name="com.ecommerce.testcases.CheckoutTest"/>
        </classes>
    </test>


</suite>